nav{
    background-color: thistle;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
  
}
#papai button{
    position: absolute;
    right: 25px;
    top: 20px;
}
body{
    margin: 2.5px;
    background-color: darkcyan;
   
}
main{
    margin-top: 100px;
    background-color: thistle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
}
#caixa{
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;     

}
.content{
    display: flex;
    justify-content: center;
}
button{
    margin-top: 25px;
}